html
  head
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(src="/js/app.js")
  body
    h1!= project
    ul(id="clobs")
    p(id="status")
    button(id="start") start
    button(id="stop") stop
