html
  head
    script(src="/socket.io/socket.io.js")
    script(src="/js/jquery.js")
    script(src="/js/app.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    link(rel='stylesheet', href='/css/app.css')
  body
    div(class="container" role="main" style="height:100%")
      h1(id = "projectName")
      a Show Settings
      div
        h2 Settings:
        p
          strong
            CodeSource Path:
          span(id = "codeSourcePath")
        p
          strong
            ScriptRunner Location:
          span(id="scriptRunnerLocation")
        h3 Globs:
        label Add Glob
        input(type="text" id="globToAdd")
        button(type="button" id="addGlob" ) Add to globs
        ul(id="globs")  
        ul(id="clobs" class="list-unstyled" style="max-height: 50%; overflow: auto;")
      
      p
        button(id="start" class="btn btn-lg btn-success") Start
        button(id="stop" class="btn btn-lg btn-danger") Stop
      p(id="status")
      p(id="status_message")